
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: rgb(100, 31, 100);
    --box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
    --hover-shadow:0px 4px 4px 0px rgba(0,0,0,0.561);
    --nav-shadow:0px 0px 10px 0px rgba(0,0,0,0.100);
    --light-black:#141c3a;
}
body{
    font-family: "Nunito", sans-serif;
}
.container{
    width: 28%;
    margin:100px auto ;
}
.header{
    font-weight: bold;
    font-family: Georgia;
    font-size: 30px;
    color: var(--main-color);
    text-align: center;
}
 

form{
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}
form label{
    margin: 5px 0px;
}
form input[type="text"],input[type="password"]{
    height: 55px;
    margin: 5px 0;
    border: 0.5px solid #b8b8b85d;
    border-radius: 7px;
    padding: 0.15px;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}
form a{
    margin: 10px 0;
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
}
form a:hover{
    color: rgb(167, 20, 20);
}
form input[type=submit]{
    height: 50px;
    background-color: var(--main-color);
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    border: none;
    border-radius: 9px;
    color: white;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
form input[type=submit]:hover{
    box-shadow: var(--hover-shadow);
    transform: translateY(-4px);    
    transition: 0.4s ease;
}


.footer h3{
    font-size: 20px;
    opacity: 0.8;
}
.footer .images{
    display: flex;
    height: 9vh;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
.footer .images img{
    width: 15%;
    border: 1px solid #e7e7e7;
    padding: 15px;
    border-radius: 3px;
    transition: 0.3s ease;
}
.footer .images img:hover{
    box-shadow: var(--hover-shadow);
    cursor: pointer;
}
.footer a{
    float: right;
    color: var(--main-color);
    margin: 10px 0;
}
.footer a:hover{
    color: rgb(167, 20, 20);
}


.headphone{
    width: 80%;
    position: absolute;
    top: -15%;
    left: 6%;
    opacity: 0.37;
    z-index: -1;
}


.privacy{
    clear: both;
}
.privacy{
    color: rgb(0, 0, 0);
}
.privacy:hover{
    color: rgb(138, 23, 190);
}