*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI',sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.navbar{
    width: 90%;
    margin: auto;
}

/* learn display grid again */
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.nav-container{
    padding: 20px 0;
}
.nav-container h1{
    color: rgb(113, 46, 116);
}
.nav-container .nav{
    display: flex;
    justify-self: flex-end;
}
.nav-container .nav a{
    margin: 0 15px;
    color: black
}
.nav-container .nav .active{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}
.header{
    width: 80%;
    margin: 70px auto;
}
.container img{
    width: 95%;
}
.container div h3{
    font-size: 70px;
    font-family: Georgia;
}
.container div h3::after{
    content: "";
    position: absolute;
    background:rgba(25,125,165);
    height: 3px;
    width: 130px;
    top: 43%;
    left: 15%;
}
.container div p{
    margin: 30px 0;
}
.container div a{
    padding: 15px;
    background-color: #333;
    color: #fff;
    margin: 20px 0;
    display: inline-block;
    border-radius: 15px;
}
.headphone{
    position: absolute;
    top: -10%;
    left: 5%;
    opacity: 0.1;
    z-index: -1;
}
.footer{
    margin: 100px 0 0 0;
    background-color: #333;
    padding: 90px 90px;
}
.footer .main-container{
    display:grid ;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}
.main-container div h4{
    color: rgb(94, 161, 161);
    margin: 10px 0;
}
.main-container div li{
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 2px 0;
}
.main-container div li:hover{
    color:rgb(113, 192, 238) ;
}
hr{
    margin:10px 0;
    opacity: 0.3;
}

.privacy{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.privacy{
    color: rgb(197, 197, 177);
}
.privacy p{
    display:flex;
    justify-content: flex-end;
}
.privacy a{
    color: #ffffff;
    position: absolute;
    top: auto;
    left: 40%;
}
.privacy a:hover{
    color: rgb(165, 146, 243);
}